.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog NavLink {
    color: white;
}

.dialogItems .active {
    color: aliceblue;
}

.messages {
    padding: 10px;

}

.messages .message {

    background-color: white;
    height: 25px;
    border: solid 3px rgb(134, 96, 179);

}