.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    display: flex;
 
}
.newsPhoto {
    width: 100%;
}
.commentInfo {
}
.comment {
    display: flex;
}